<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -University Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/datepicker.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker3.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/custom-style.css" rel="stylesheet" />

</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle navbar-toggle-sidebar collapsed">
                    MENU
                </button>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">Administration</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left" method="GET" role="search">
                    <div class="form-group">
                        <input type="text" name="q" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://www.pingpong-labs.com" target="_blank">Visit Site</a></li>
                    <li class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            Account
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">SETTINGS</li>
                            <li class=""><a href="#">Other Link</a></li>
                            <li class=""><a href="#">Other Link</a></li>
                            <li class=""><a href="#">Other Link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container-fluid main-container">
        <div class="col-md-2 sidebar">
            <div class="row">
                <!-- uncomment code for absolute positioning tweek see top comment in css -->
                <div class="absolute-wrapper"> </div>
                <!-- Menu -->
                <div class="side-menu">
                    <nav class="navbar navbar-default" role="navigation">
                        <!-- Main Menu -->

                        <div class="side-menu-container">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
                                <!-- Department -->
                                <li class="panel panel-default" id="dropdown">
                                    <a data-toggle="collapse" href="#department">
                                        <i class="fa fa-circle-o circle-red"></i> Department <span class="caret"></span>
                                    </a>
                                    <!-- Department level 1 -->
                                    <div id="department" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul class="nav navbar-nav">
                                                <li><a href="@Url.Action("Save","Department")">Save Department</a></li>
                                                <li><a href="@Url.Action("Show","Department")">View Department</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <!-- Department -->
                                <!-- Course -->
                                <li class="panel panel-default" id="dropdown">
                                    <a data-toggle="collapse" href="#course">
                                        <i class="fa fa-circle-o circle-red"></i> Course <span class="caret"></span>
                                    </a>
                                    <!-- Department level 1 -->
                                    <div id="course" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul class="nav navbar-nav">
                                                <li><a href="@Url.Action("Save","Course")">Save Course</a></li>
                                                <li><a href="@Url.Action("Index", "Course")">View Course Statistics </a></li>
                                                <li><a href="@Url.Action("UnassignCourses","Course")">Unassign All Courses</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <!-- Course -->
                                <!-- Teacher -->
                                <li class="panel panel-default" id="dropdown">
                                    <a data-toggle="collapse" href="#teacher">
                                        <i class="fa fa-circle-o circle-red"></i> Teacher <span class="caret"></span>
                                    </a>
                                    <!-- teacher level 1 -->
                                    <div id="teacher" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul class="nav navbar-nav">
                                                <li><a href="@Url.Action("Save","Teacher")">Save Teacher</a></li>
                                                <li><a href="@Url.Action("Save","CourseAssign")">Course Assign to Teacher</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <!-- Teacher -->
                                <!-- Student -->
                                <li class="panel panel-default" id="dropdown">
                                    <a data-toggle="collapse" href="#student">
                                        <i class="fa fa-circle-o circle-red"></i> Student <span class="caret"></span>
                                    </a>
                                    <!-- teacher level 1 -->
                                    <div id="student" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul class="nav navbar-nav">
                                                <li><a href="@Url.Action("Register","Student")">Register Student</a></li>
                                                <li><a href="@Url.Action("Index","Student")">Show Student Details</a></li>
                                                <li><a href="@Url.Action("Create","EnrollCourse")">Enroll Student in a Course</a></li>
                                                <li><a href="@Url.Action("SaveResult","EnrollCourse")">Save Student Result</a></li>
                                                <li><a href="@Url.Action("ViewResult","EnrollCourse")">View Result</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <!-- Student -->
                                <!-- classroom -->
                                <li class="panel panel-default" id="dropdown">
                                    <a data-toggle="collapse" href="#classroom">
                                        <i class="fa fa-circle-o circle-red"></i> ClassRoom <span class="caret"></span>
                                    </a>
                                    <!-- classroom level 1 -->
                                    <div id="classroom" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul class="nav navbar-nav">
                                                <li><a href="@Url.Action("Create","ClassRoomAllocation")">Allocate ClassRooms</a></li>
                                                <li><a href="@Url.Action("","ClassRoomAllocation")">View Class Schedule and Room Information</a></li>
                                                <li><a href="@Url.Action("UnallocatedClassRoom","ClassRoomAllocation")">Unallocate All Classroom</a></li>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <!-- classroom -->
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-1 content">
            <div class="inner-content">
                @RenderBody()
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script>
        $(document).ready(function () {
            $("#Date").datepicker({ format: 'yyyy-mm-dd', value: '2016-05-09' });
            $("#enrollDate").datepicker({ format: 'yyyy-mm-dd', value: '2016-05-09' });
            $("#Date").val("2016-05-09");
            $("#enrollDate").val("2016-05-09");
        });
    </script>

</body>
</html>