@model UniversityMS.Models.Teacher

@{
    ViewBag.Title = "Save Teacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<hgroup class="title">
    <h1>Teacher</h1>
    <h4>Save Teacher</h4>
</hgroup>
<hr />

<div align="center">
    @if (@ViewBag.Message != null)
    {
        <span class="alert alert-success" id="success-alert">@ViewBag.Message</span>
    }
</div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal col-lg-7">
        
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.TeacherName, new { @class = "control-label col-md-4" })
            <div class="col-md-8">  
                @Html.TextBoxFor(model => model.TeacherName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TeacherName, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.TeacherAddress, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.TeacherAddress, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TeacherAddress, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.TeacherEmail, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.TeacherEmail, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TeacherEmail, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.TeacherContactNo, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.TeacherContactNo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TeacherContactNo, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.DesignationId, "Designation", new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownList("DesignationId", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DesignationId, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.DepartmentId, "Department", new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownList("DepartmentId", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.CreditTaken, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.CreditTaken, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CreditTaken, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary btn-sm" />
            </div>
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        
        $(document).ready(function () {

            $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
                $("#success-alert").alert('close');
            });

            $("#submit").click(function () {
               

              

            });




        });

    </script>
}
